################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PagingBlazor.API/bin
/PagingBlazor.API/obj
/PagingBlazor.Client/bin
/PagingBlazor.Client/obj
/PagingBlazor.Entities/bin/Debug/net8.0
/PagingBlazor.Entities/obj
